h1{
    font-size:210px;
    font-weight:900;
    line-height:210px;
}
.error-box{
    height:100%;
    top:50%;
    width:100%;
}
.error-body{
    padding-top:5%;
}
.text-danger{
    color:#ff7676;
}
.text-muted{
    color:#8d9ea7;
}